

body {
    font-family: Arial, sans-serif;
    /* Color de fondo similar al login */
    
    min-height: 100vh;
   
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    
}

.register-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

h2 {
    color: #230e29;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
}

input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #f31515;
    box-shadow: 0 0 0 2px rgba(0, 13, 255, 0.1);
}

.password-input {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.btn-register {
    width: 100%;
    padding: 12px;
    background: #e7700e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background: #e63a0f;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.login-link a {
    color: #000DFF;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
    .register-container {
        padding: 10px;
    }
    
    .register-form {
        padding: 20px;
    }
}