<!--INDEX BODY-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/ css/inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="hero"></div>

<section class="container categories">
    <h2 class="text-center">Caegorias de Productos</h2>
    <div class="category-list">
        <div class="category">
            <img src="../static/img/categoria1.jpg" alt="oficina">
            <a href="#">Oficina</a>
        </div>
        <div class="category">
            <img src="../static/img/categoria2.jpg" alt="hogar">
            <a href="#">Hogar</a>
        </div>
        <div class="category">
            <img src="../static/img/categoria3.jpg" alt="cocina">
            <a href="#">Cocina</a>
        </div>
    </div>
</section>



<main class="content-principal container">
    <h2 class="text-center">Nuestros Productos</h2>

    <div class="products-list">
        <div class="product">
            <img src="../static/img/producto1.jpg" alt="Producto 1">
            <div class="text-product">
                <h3>Producto 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias.</p>
                <p class="price">$1'000.000</p>
                <a class="btn" href="#">Agregar al carrito</a>
            </div> <!-- Info Produto -->
        </div> <!-- Produto -->

        <div class="product">
            <img src="../static /img/producto2.jpg" alt="Producto 2">
            <div class="text-product">
                <h3>Producto 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias.</p>
                <p class="price">$1'000.000</p>
                <a class="btn" href="#">Agregar al carrito</a>
            </div> <!-- Info Produto -->
        </div> <!-- Produto -->

        <div class="product">
            <img src="../static/img/producto3.jpg" alt="Producto 3">
            <div class="text-product">
                <h3>Producto 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias.</p>
                <p class="price">$1'000.000</p>
                <a class="btn" href="#">Agregar al carrito</a>
            </div> <!-- Info Produto -->
        </div> <!-- Produto -->

        <div class="product">
            <img src="../static/img/producto4.jpg" alt="Producto 4">
            <div class="text-product">
                <h3>Producto 4</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias.</p>
                <p class="price">$1'000.000</p>
                <a class="btn" href="#">Agregar al carrito</a>
            </div> <!-- Info Produto -->
        </div> <!-- Produto -->

        <div class="product">
            <img src="../static/img/producto5.jpg" alt="Producto 5">
            <div class="text-product">
                <h3>Producto 5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias.</p>
                <p class="price">$1'000.000</p>
                <a class="btn" href="#">Agregar al carrito</a>
            </div> <!-- Info Produto -->
        </div> <!-- Produto -->

        <div class="product">
            <img src="../static/img/producto6.jpg" alt="Producto 6">
            <div class="text-product">
                <h3>Producto 6</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias.</p>
                <p class="price">$1'000.000</p>
                <a class="btn" href="#">Agregar al carrito</a>
            </div> <!-- Info Produto -->
        </div> <!-- Produto -->

    </div> <!-- Fin del Listado de Produtos -->

</main>